<div class="panel panel-primary">
  <div class="panel-heading" id="dict-word">Add new word</div>
  <div class="panel-body">

    <form action="?" method="POST" modelAttribute="addWordDTO">

      <div class="input-group row-form-add-word">
        <span class="input-group-addon" id="basic-addon1">Word</span>
        <input type="text" class="form-control" placeholder="Word"
               aria-describedby="basic-addon1" name="word">
      </div>

      <div class="input-group row-form-add-word">
        <span class="input-group-addon" id="basic-addon2">Definition</span>
        <input type="text" class="form-control" placeholder="Definition"
               aria-describedby="basic-addon2" name="definition">
      </div>

      <div class="row-form-add-word">
        <button type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        </button>
      </div>

    </form>

  </div>
</div>
