<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- jQuery -->
    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.min.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>

<div id="container" class="panel panel-default">
    <div class="panel-body">

        <th:block layout:fragment="content"></th:block>

    </div>
</div>

</body>
</html>