<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <!--Bootstrap-->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>

<div id="container">

    <div class="panel panel-primary">
        <div class="panel-heading" id="dict-word">Add new word</div>
        <div class="panel-body">

            <th:block th:each="alert : ${alerts}">
                <div class="alert alert-dismissible"
                     role="alert" th:classappend="|alert-${alert.getBootstrapStyle()}|">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <span th:text="${alert.getMessage()}" th:remove="tag"></span>
                </div>
            </th:block>

            <form action="?" method="POST" modelAttribute="addWordDTO">

                <div class="input-group row-form-add-word">
                    <span class="input-group-addon" id="basic-addon1">Word</span>
                    <input type="text" class="form-control" placeholder="Word"
                           aria-describedby="basic-addon1" name="word">
                </div>

                <div class="input-group row-form-add-word">
                    <span class="input-group-addon" id="basic-addon2">Definition</span>
                    <input type="text" class="form-control" placeholder="Definition"
                           aria-describedby="basic-addon2" name="definition">
                </div>

                <div class="row-form-add-word">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                    </button>
                </div>

            </form>

        </div>
    </div>

</div>

</body>
</html>