<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <title>All words</title>
</head>
<body>

<th:block layout:fragment="content">

    <div class="panel panel-primary">
        <div class="panel-heading" id="dict-word">Dictionary words</div>
        <div class="panel-body">

            <table class="table table-striped table-hover">
                <thead class="thead-inverse">
                <tr>
                    <th>Word</th>
                    <th>Definition</th>
                    <th>Rank</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="wordrank : ${wordranks}">
                    <tr>
                        <td th:text="${wordrank.wordName}"></td>
                        <td th:text="${wordrank.definition}"></td>
                        <td th:text="${wordrank.rankValue}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>

        </div>
    </div>

</th:block>
</body>
</html>