<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<th:block th:fragment="navbar">

    <nav class="navbar navbar-inverse bg-inverse no-rounding">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/settings}">WebDict</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                    <li th:class="${activeTab == 'settings'} ? 'active' : null"><a
                            th:href="@{/settings}">Settings</a>
                    </li>
                    <li th:class="${activeTab == 'top'} ? 'active' : null"><a
                            th:href="@{/top}">Top</a>
                    </li>
                    <li th:class="${activeTab == 'all'} ? 'active' : null"><a
                            th:href="@{/all}">All words</a>
                    </li>
                    <li th:class="${activeTab == 'add'} ? 'active' : null"><a
                            th:href="@{/add}">Add word</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

</th:block>

</body>
</html>