body {
    font-family: Arial, sans-serif;
}

#container {
    width: 40%;
    margin: 10px auto 0;
}

#button-answer-correct, #button-answer-wrong {
    display: none;
}

#dict-word {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

#buttons-panel {
    text-align: center;
}

#dict-definition {
    min-height: 3em;
}

.row-form-add-word {
    text-align: center;
    margin-top: 10px;
}