<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <title>Statistics</title>
</head>
<body>

<th:block layout:fragment="content">

    <div class="panel panel-primary">
        <div class="panel-heading" id="dict-word">Statistics</div>
        <div class="panel-body">

            <th:block th:each="dictStat : ${dictStats}">
                <div class="panel panel-default">
                    <div class="panel-heading"
                         th:text="${'Dictionary: ' + dictStat.dictDisplayName}"></div>
                    <div class="panel-body">

                        <h5>Trained words:</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped"
                                 role="progressbar"
                                 th:attr="aria-valuenow=${dictStat.trained?.percentage}"
                                 aria-valuemin="0" aria-valuemax="100"
                                 th:style="'width:'+${dictStat.trained?.percentage}+'%;'">
                            <span class="progress-centered">
                                <span th:text="${dictStat.trained?.count}"></span>
                                /
                                <span th:text="${dictStat.trained?.allWordsCount}"></span>
                            </span>
                            </div>
                        </div>

                        <h5>Training in progress:</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped"
                                 role="progressbar"
                                 th:attr="aria-valuenow=${dictStat.trainingInProgress?.percentage}"
                                 aria-valuemin="0" aria-valuemax="100"
                                 th:style="'width:'+${dictStat.trainingInProgress?.percentage}+'%;'">
                            <span class="progress-centered">
                                <span th:text="${dictStat.trainingInProgress?.count}"></span>
                                /
                                <span th:text="${dictStat.trainingInProgress?.allWordsCount}"></span>
                            </span>
                            </div>
                        </div>

                        <h5>Touched words:</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar"
                                 th:attr="aria-valuenow=${dictStat.touched?.percentage}"
                                 aria-valuemin="0"
                                 aria-valuemax="100"
                                 th:style="'width:'+${dictStat.touched?.percentage}+'%;'">
                            <span class="progress-centered">
                                <span th:text="${dictStat.touched?.count}"></span>
                                /
                                <span th:text="${dictStat.touched?.allWordsCount}"></span>
                            </span>
                            </div>
                        </div>

                        <h5>Cooling down:</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger progress-bar-striped"
                                 role="progressbar"
                                 th:attr="aria-valuenow=${dictStat.coolingDown?.percentage}"
                                 aria-valuemin="0" aria-valuemax="100"
                                 th:style="'width:'+${dictStat.coolingDown?.percentage}+'%;'">
                            <span class="progress-centered">
                                <span th:text="${dictStat.coolingDown?.count}"></span>
                                /
                                <span th:text="${dictStat.coolingDown?.allWordsCount}"></span>
                            </span>
                            </div>
                        </div>

                    </div>
                </div>
            </th:block>

        </div>
    </div>

</th:block>
</body>
</html>